QWidget {
  color: blue;
  background-color: #87cefa;
  border-style: dashed;
  border-width: 3px;
  border-color: #1e90ff;
}

QPushButton {
  border: 2px solid #8f8f91;
  border-radius: 6px;
  background-color: red min-width 80px;
}

QPushButton:pressed {
  background-color: pink;
}

QPushButton:flat {
  border: none; /* no border for a flat push button */
}

QPushButton:default {
  border-color: navy; /* make the default button prominent */
  /*hi*/
}
