QWidget {
  color: rgb(173, 173, 173);
  background-color: #bebebe;
  border-style: outset;
  border-width: 1.5px;
  border-color: #2B26c1;
}

QSplitter {
  border-width: 2;
}
QLabel {
  color:rgb(255, 255, 255);
}