QWidget {
  color: rgb(255, 255, 255);
  background-color: #bebebe;
  border-style: outset;
  border-width: 1.5px;
  border-color: #bebebe;
}
QSplitter {
  border-width: 0;
}

QPushButton {
  border: 2px solid #8f8f91;
  border-radius: 6px;
  background-color: red min-width 80px;
}

QPushButton:pressed {
  background-color: pink;
}

QPushButton:flat {
  border: none; /* no border for a flat push button */
}

QPushButton:default {
  border-color: #2B26c1; /* make the default button prominent */
}
